@import url("./base.css");

/* Main card */

main {
  display: block flex !important;
  flex-direction: row;
  align-items: center;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  gap: 2em;
}

/* Card content - left */

main h1 {
  font-size: 6em;
  font-weight: 300;
}

/* Divider */

.divider {
  display: block;
  width: 2px;
  height: 7em;
  background-color: rgb(255 255 255 / 0.7);
  border-radius: 1px;
}

/* Card content - right */

main > div {
  display: block flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-around;
  font-size: 1.3em;
}

main > div > p:first-child {
  padding: 1em;
  margin-left: -1em;
}

main h1, main p {
  margin: 0;
}

main a {
  color: white;
  padding: 1em;
  margin-left: -1em;
  text-decoration: none;
  font-size: 0.8em;
  position: relative;
}

main a::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  margin-top: 0.1em;
  width: calc(100% - 2em);
  background-color: rgb(255 255 255 / 0.7);
  border-radius: 1px;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.5s;
}

main a:hover::after {
  transform: scaleX(1);
}
