/* Custom Components */


@import url("../styles/glass.css");
@import url("../styles/button.css");



/* Main Card Layout */


main {
  display: block flex !important;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
  width: 600px;
}



/* List Header */


header {
  display: block flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main h1 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}



/* List */


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* margin-inline: -2rem; */
  /* margin-bottom: -2rem; */
}



/* List Items */


li {
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-top: 1px;
  display: block flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

li:hover {
  background-color: rgb(255 255 255 / 0.1);
  cursor: pointer;
  outline: solid 1px rgb(255 255 255 / 0.2);
}

li p {
  margin: 0;
  margin-left: 30px !important;
}



/* List Item Dividers */


li:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: calc(100% - 20px);
  background-color: rgb(255 255 255 / 0.2);
  border-radius: 1px;
  top: -1px;
  visibility: visible;
}


li:hover + li::before, li:hover::before {
  visibility: hidden;
}



/* List Item Status Icons */


li::after {
  font-family: "Material Symbols Outlined";
  content: "\e061";
  font-variation-settings: "FILL" 1;
  display: block;
  position: absolute;
  font-size: 10px;
  left: 20px;
}

li.done::after {
  font-family: "Material Symbols Rounded";
  content: "\e5ca";
  display: block;
  position: absolute;
  font-size: 25px;
  left: 12px;
}
