/* Custom Components */


@import url("../styles/glass.css");
@import url("../styles/link.css");



/* Main Card Layout */


main {
  display: block flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}



/* Left Card Content */


main h1 {
  font-size: 6rem;
  font-weight: 300;
}



/* Divider */


.divider {
  display: block;
  width: 2px;
  height: 100%;
  background-color: rgb(255 255 255 / 0.2);
  border-radius: 1px;
}



/* Right Card Content */


main > div {
  display: block flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-around;
  font-size: 1.3rem;
}

main > div > p:first-child {
  padding-block: 10px;
}

main h1, main p {
  margin: 0;
}

main > div .link {
  margin-left: -10px;
}
