@use "glass";

$button-height: 40px;

%button {
  @extend %small-glass;
  display: block flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: $button-height;
  margin: 0;
  background-color: transparent;
  transform: translateY(0px);
  transition-property: transform;
  transition-duration: 0.4s;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    background-color: glass.$color-normal;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgb(255 255 255 / 0.5);
    transform: skewX(45deg) translateX(calc(101% + $button-height));
    transition-property: transform;
    transition-duration: 0.4s;
  }

  &:hover::after {
    transform: skewX(45deg) translateX(calc(-101% - $button-height));
  }
}
