$border-width: 1px;
$color-normal: rgb(255 255 255 / 0.1);
$color-bright: rgb(255 255 255 / 0.2);

%glass {
  display: block;
  background-color: $color-normal;
  border: solid $border-width $color-bright;
  border-right-color: $color-normal;
  border-bottom-color: $color-normal;
  border-radius: 5px;
  backdrop-filter: blur(15px);
  box-shadow:
    5px 5px 15px rgb(0 0 0 / 0.1),
    inset 5px 5px 15px rgb(255 255 255 / 0.1);
  color: white;
  overflow: hidden;
}

$large-padding: 30px;
$small-padding: 10px;

%large-glass {
  @extend %glass;
  padding: $large-padding;
}

%small-glass {
  @extend %glass;
  padding: $small-padding;
}
